body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.nav {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: flex;
  gap: 40px;
}


.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.footer-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.link-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  padding-top: 24px;
  padding-bottom: 24px;
}
.link-nav:hover {
  color: #404bbf;
}

.link-nav:focus {
  color: #404bbf;
  border: 1px dashed #9747ff;
}

.link-address {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.link-address:hover {
  color: #404bbf;
}
.link-address:focus {
  color: #404bbf;
}
.contacts {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

.features-list-item {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.features-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.strategy-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.card-item {
  background-color: #ffffff;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.porfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-footer {
  background-color: #2e2f42;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

/* hw-3 */

img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;

}

.header-wrap {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 0.15px;
  padding-right: 0.15px;
}
.header-nav {
  display: flex;
  align-items: center
}

.addres-list {
  display: flex;
  gap: 40px;
}